{% extends 'layout.twig' %}

{% block title %}
Blog
{% endblock title %}

{% block content %}
<div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">
            <p>{{error}}</p>
            <form method="post" action="index.php?action=createUser">
                <div class="mb-3">
                    <label for="username" class="form-label">Nom utilisateur</label>
                    <input placeholder="Champs obligatoire avec maximum 45 caractères" type="text" class="form-control"
                        name="username" minlength="1" maxlength="45" required />
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Mot de passe</label>
                    <input name="password" type="password" class="form-control" rows="15" minlength="1" maxlength="45"
                        required></input>
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label">Email</label>
                    <input placeholder="Champs obligatoire avec maximum 45 caractères" type="text" class="form-control"
                        name="email" minlength="1" maxlength="45" required />
                </div>
                <button type="submit" class="btn btn-primary">Envoyer</button>
            </form>
        </div>
    </div>
</div>
{% endblock content %}