{% extends 'layout.twig' %}

{% block title %}
Blog
{% endblock title %}

{% block content %}
<!-- Main Content-->
<div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">
            {% for currentPost in posts %}
            <!-- Post preview-->
            <div class="post-preview">
                <a href="post.html">
                    <h2 class="post-title">{{ currentPost.title }}</h2>
                    <h3 class="post-subtitle">{{ currentPost.message }}</h3>
                </a>
                <p class="post-meta">
                    Posté par
                    <a href="#!">{{ currentPost.users_id }}</a>
                    <b>{{ currentPost.created_at }}</b>
                </p>
            </div>
            <!-- Divider-->
            <hr class="my-4" />
            {% endfor %}
            <!-- Divider-->
            <hr class="my-4" />
        </div>
    </div>
</div>
{% endblock content %}